

/****************************/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-size: 40px;
    line-height: 52.92px;
    font-weight: 500;
    color: #F2785C;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/*Header styles start*/

.header {
    background-color: #F2785C;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    left: 0;
}
.header__title-text {
    font-family: Magra;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    color: #FFFFFF;
    background: #F2785C;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 102px;
}
.header__link {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}
.login-form__submit {
    height: 50px;
    color: #FFFFFF;
    background: #0D606F;
    align-self: baseline;
}
.login-form__submit:hover, .login-form__submit:focus, .login-form__submit:active {
    background-color: #074854;
}

/*Header styles end*/

/*Preview styles start*/

.preview {
    min-height: 100vh;
    background: url("img/preview-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 122px;
    margin-bottom: 131px;
}
.preview__title {
    max-width: 892px;
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 80px;  
    line-height: 96px;  
    color: #FFFFFF;
    margin-bottom: 46px;
}
.preview__subtitle {
    color: #FFFFFF;
    font-family: Aleo;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}
.search-form__field {
    width: 892px;
    font-family: Aleo;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #F2785C;
}
.search-form__field::placeholder {
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}    
.search-form__submit {
    color: #FFFFFF;
    background: #0D606F;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background-color: #074854;
}
/*Preview styles end*/

/*Steps styles start*/

.steps {
    margin-bottom: 131px;
}
.steps__wrap {
    max-width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
}
.steps__title {
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 53px;
    text-align: center;
    padding: 0px 100px 40px 100px;
}
.steps__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 120px;
    grid-auto-rows: 100px;
    padding: 0 100px
    position: relative;
}
.steps__card {
    height: 60px;
    width: 60px;
    border-radius: 16px;
    background: #F2785C;
    grid-column: span 1;
}
.steps__card-thumb {
    align-self: center;
}
.steps__card-pic {
    max-width: 66px;
    margin-bottom: 40px;
}
.steps__title-desc {
    font-family: Aleo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    width: 317px;
    /*padding: 20px;*/
    color: #0D606F;
    display: flex;
    flex-wrap: wrap;
}

/*Steps styles end*/

/*Destinations styles start*/

.destinatiions {
    margin-bottom: 131px;
}
.destinatiions__wrap {
    max-width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
}
.destinations__title {
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 53px;
    text-align: center;
    padding: 0px 100px 40px 100px;
}
.destination__image {
    width: 400px;
    height: 400px;
}
.destinations-form {
    height: 60px;
}
.destinations-form__submit {
    height: 50px;
    color: #FFFFFF;
    background: #0D606F;
    align-self: baseline;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}
.destinatiions-form__submit:hover, .destinatiions-form__submit:focus, .destinatiions-form__submit:active {
    background-color: #074854;
}
#destinations__slider {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}
#destinations__slider article {
    width: 100%;
    float: left;
}
#destinations__slider .image {
    width: 50%;
    line-height: 0;
}

#destinations__overflow {
    width: 30%;
    overflow: hidden;
}

/*Destinations styles end*/

/*Stories styles start*/

.stories {
    margin-bottom: 41px;
}
.stories__wrap {
    max-width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
}
.stories__title {
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 53px;
    text-align: center;
    padding: 70px 100px 40px 100px;
}
.stories__row {
    display: flex;
    /*flex-direction: row;*/
}
.stories__image {
    height: 250px;
    width: 1200px;
    border-radius: 16px;
    max-width: 100%;
    flex: 1 1 1500px;
    margin: 0 auto;
}
.stories__image-text {
    font-family: Aleo;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #0D606F;
    background: #FFFFFF;
    margin: 40px;
}
.stories__subtitle {
    font-family: Aleo;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    color: #0D606F;
    background: #FFFFFF;
    margin: 0 40px;
}
.stories-form__submit {
    height: 50px;
    color: #FFFFFF;
    background: #0D606F;
    align-self: baseline;
    margin: 0 auto;
    display: block;
}
.stories-form__submit:hover, .stories-form__submit:focus, .stories-form__submit:active {
    background-color: #074854;
}

/*Stories styles end*/

/*Footer styles start*/

.footer {
    clear: both;
    background-color: #0D606F;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /*margin: 0 auto;
    text-align: center;
    align-items: center;*/
    display: inline-block;
	list-style-type: none;
}
.footer__text {
    font-size: 16px;
    line-height: 21px;
    width: 300px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
.footer__icons-list {
    text-align: center;
}
.footer__icons-item {
    display: inline-block;
	list-style-type: none;
}
.footer__icons-pic {
    height: 40px;
    width: 100px;
}

/*Footer styles end*/
